</div>

<script>
  $("#menu-toggle").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });
</script>

<script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script>

<script>
  const swup = new Swup();
</script>

</body>

</html>