<%- include('partials/header'); %>
<main id="swup" class="transition-fade">
    <div class="container-fluid center">
        <div class="details content">
            <h1>About Us</h1>
            <h3>Why We Opened Eternitea</h3>
            <p >Eternitea is all about delicious tea and a great environment. Our store is unique in that we have two different areas whether you want to do some work or hang out with loved ones.</p>
<h3>Drinks</h3>
<p>We've tasted so many drinks that are made with pure syrup and low quality tea. That's why we wanted to provide the best for our customers. Our tea is imported from our own farm in Japan which we visit bi-annually to ensure the quality you know and love.</p>
        </div>
    </div>
</main>


<%- include('partials/footer'); %>