<%- include('partials/header'); %>
<main id="swup" class="transition-fade">
    <div class="container-fluid center">
        <div class="details">
            <h1>Check Us Out</h1>
            <h2>Locations</h2>
            <div style="padding: 0 15vw;">
            <div class="container-fluid center">
       
                    <div class="row">
                        <div class="col-lg-6">
                            <i class="fas feature-icon fa-leaf fa-3x"></i>
                            <p>123 Boba Ct. 95122 <br>San Jose, CA</p>
            
                        </div>
                        <div class="col-lg-6">
                            <i class="fas feature-icon fa-leaf fa-3x"></i>
                            <p>456 Tea Ave. 24243 <br> San Diego, CA</p>
                        </div>
                    </div>
 
            </div>
            <h2 style="padding-top: 2rem;">Social Media</h2>
            <div class="container-fluid center">
                <div>
                <div class="row">
                  <div class="col-lg-4">
                    
                    <i class="fab fa-yelp fa-2x"></i>
                    <h5>Yelp</h5>
                  </div>
                  <div class="col-lg-4">
            <i class="fab fa-instagram fa-2x"></i>
            <h5>Instagram</h5>

                  </div>
                  <div class="col-lg-4">
                    <i class="fab fa-facebook-f fa-2x"></i>
                    <h5>Facebook</h5>

                  </div>
                </div>
              </div>
              </div>
            </div>
        </div>
    </div>
</main>
<%- include('partials/footer'); %>